*.sw[op]
.gitconfig
.vim/
.CFUserTextEncoding
.Xauthority
.ansible/
.ansible_galaxy
.atom/
.aws/
.bash_history
.bash_sessions/
.bashrc_local
.boot2docker/
.bundle/
.cache/
.config
.cookiecutter_replay/
.cookiecutters/
.cups/
.docker/
.fzf.bash
.fzf.zsh
.fzf/
.git-prompt.sh
.gitkraken/
.gnupg/
.gradle/
.hab/
.iterm2/
.iterm2_shell_integration.bash
.lesshst
.local/
.m2/
.oracle_jre_usage/
.ovftool.ssldb
.packer.d/
.pia_manager/
.pia_manager_crash.log
.repo_.gitconfig.json
.repoconfig/
.rnd
.serverauth.1107
.ssh/
.subversion/
.teamocil/
.terraform.d/
.vagrant.d/
.vim_sessions/
.viminfo
.viminfo.tmp.a
.wget-hsts
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
SpiderOak Hive/
VirtualBox VMs/
di/
tmp/
transmission/
